:root {
    font-size: 16px;
    --GoldMine: #D9BB87;
    --MidnightBlue: #20273E;
    --White: #FFFFFF;
}

@media screen and (min-width: 960px) {
    :root {
        font-size: 24px;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'marcellus';
    src: url(/font/marcellus-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(/font/montserrat-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url(/font/oswald-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    max-width: 100% ! important;
    overflow-x: hidden ! important;
}

body {
    font-family: 'montserrat';
    font-size: 1rem;
    color: var(--White);
    background-color: var(--MidnightBlue);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 960px) {
    body {
        font-size: 0.75rem;
    }
}

/* Utils */

/* Header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__banner {
    background-image: url(/img/header-banner-gold-wood.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* opacity: 0.8; */
    height: 118px;
    width: 100%;
}

.header_ttl {
    font-family: 'marcellus';
    font-size: 2rem;
    margin-left: 3rem;
    text-shadow: 3px 3px 2px var(--MidnightBlue);
}

.header_ttl--portfolio {
    color: var(--GoldMine);
}

.header_ttl--name {
    color: var(--White);
}

.header__hamburger {
    height: 34px;
    margin-top: -4rem;
}

@media screen and (min-width: 960px) {

    .header {
        justify-content: flex-start;
    }

    .header__banner {
        height: 215px;
    }

    .header__ttl {
        font-size: 2.5rem;
        margin-left: 1rem;
    }

    .header__hamburger {
        display: none;
        height: 34px;
        margin-top: -4rem;
    }
}

/* navigation */

@media screen and (max-width: 959px) {
    .nav {
        display: none;
    }
}


@media screen and (min-width: 960px) {
    .nav {
        display: flex;
        gap: 2rem;
        margin-left: 1rem;
        margin-top: 0.25rem;
    }

    .nav--lnk:hover {
        text-decoration: underline var(--GoldMine);
    }
}

/* container flex */

.container-txt {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    text-align: center;
    line-height: 1.5;
    gap: 1rem;
    margin: 1rem 2rem;
}

.container-txt-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

@media screen and (min-width: 960px) {

    .container-txt-photo {
        float: left;
        padding: 2rem 0rem 0rem 3rem;
    }

    .container-txt {
        text-align: left;
        max-width: 440px;
        padding-top: 3rem;
        margin-left: 0rem;
    }
}

/* container grid */

.container-img {
    display: grid;
    grid-template:
        "ttl ttl" auto
        "img-f img-jdr" 1fr
        "img-asso img-jdr" 1fr
        "btn btn" auto
        / 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    padding-top: 1rem;
    margin: 1rem;
}

.container-img,
.ttl {
    grid-area: ttl;
}

.img-festipoule {
    grid-area: img-f;
    width: 100%;
    height: 100%;
}

.img-assobio {
    grid-area: img-asso;
    width: 100%;
    height: 100%;
}

.img-rolist {
    grid-area: img-jdr;
    width: 100%;
    height: 100%;
}

.btn,
.btn-empty {
    grid-area: btn;
}

@media screen and (min-width: 960px) {
    .container-img {
        max-width: 516px;
        min-height: 618px;
    }

    /* .img-festipoule,
    .img-assobio,
    .img-rolist {
        width: auto;
    } */
}

/* Titres */

.ttl {
    font-family: 'marcellus';
    font-size: 1.5rem;
    color: var(--GoldMine);
    border-bottom: 1px solid var(--GoldMine);
    border-top: 1px solid var(--GoldMine);
}

@media screen and (min-width: 960px) {
    .ttl {
        text-align: center;
        border-bottom: 2px solid var(--GoldMine);
        border-top: 2px solid var(--GoldMine);

    }
}

/* boutons */

.btn {
    font-family: 'oswald';
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5rem;
    width: 12.85rem;
    margin: auto;
    height: 37.7px;
}

.btn--full {
    color: var(--MidnightBlue);
    background-color: var(--GoldMine);
    border: 1px solid var(--GoldMine);
}

.btn--empty {
    color: var(--GoldMine);
    background-color: transparent;
    border: 1px solid var(--GoldMine);
    padding: 0.75rem;
}

.btn--footer {
    padding: 0.75rem;
}

.btn--full:hover {
    color: var(--GoldMine);
    background-color: transparent;
    border: 1px solid var(--GoldMine);
}

.btn--empty:hover {
    color: var(--MidnightBlue);
    background-color: var(--GoldMine);
    border: 1px solid var(--GoldMine);
}

@media screen and (min-width: 960px) {
    .btn-intro {
        height: auto;
    }
}

/* Footer */

.footer {
    display: grid;
    grid-template:
        "logo btn" 1fr
        "txt txt" 1fr
        / 1fr 1fr;
    gap: 1rem;
    justify-content: space-around;
    padding: 1rem 3rem 0.5rem 3rem;
    border-top: 1px solid var(--GoldMine);
}

.footer-txt {
    grid-area: txt;
    text-align: center;
    font-size: 0.75rem;
}

@media screen and (min-width: 960px) {

    .footer-txt {
        font-size: 0.75rem;
    }
}